<!-- Font Preload Component - Optimized Font Loading -->
<!-- Include this in the <head> section of your HTML -->

<!-- Preload critical fonts for faster rendering -->
<link rel="preload" href="/static/Chillax-Regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="preload" href="/static/BalooBhaijaan2-Regular.ttf" as="font" type="font/ttf" crossorigin>

<!-- Optimized fonts CSS with font-display: swap -->
<link rel="stylesheet" href="/static/css/fonts.css">

<!-- Preconnect to external font sources (if any) -->
<!-- <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin> -->
